.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
    height: 100vh;
    background-color: #fff;
}

 /*CHAT HEADER*/
.chat__header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    background-color: #f5f5f5;
}

.chat__header>h4{
    font-weight: 500;
    color: gray;
}

.chat__name{
    color:black;
}

 /*CHAT MESSAGES*/
.chat__messages{
    flex:1;
}


 /*CHAT INPUT*/
.chat__input{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid lightgray;
    background-color: #f5f5f5;
}

.chat__input>form{
    flex:1;
}


.chat__input>form>input{
    width: 98%;
    outline: none;
    border-radius: 1000px;
    border: 1px solid lightgrey;
    padding: 5px;
}
.chat__input>form>input{
    width: 98%;
    outline: none;
    border-radius: 1000px;
    border: 1px solid lightgrey;
    padding: 5px;
}

.chat__input>form>button{
    display: none;
}

.chat__mic{

}