.sidebar{
    flex:0.35;
    height: 100vh;;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-right: 1px solid lightgray;
}

.sidebar__header{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.sidebar__avatar{
    cursor: pointer;
    margin: 10px;
}

.sidebar__input{
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #e1e1e1;
    color:gray;
    border-radius: 5px;
}

.sidebar__input > input {
    border:none;
    outline: none;
    background-color:transparent ;
}

.sidebar__chats{
    overflow-y: scroll;
}
 /* Hide scrollbar for chrome,safari and opera */
.sidebar__chats::-webkit-scrollbar{
    display: none;
}
 /* Hide scrollbar for IE,Edge and firefox */
.sidebar__chats::-webkit-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

